{% extends "base.html" %}
{% block content %}

<!-- ----------------MIDDLE--------------------- -->
<div class="middle">

    <a href="{% url 'project-list' %}" class="btn btn-primar">Back To Projects</a>

    <!-- ----------------FEEDS--------------------- -->
    <div class="feeds">
        <!-- ----------------FEEDS-1--------------------- -->
        <div class="feed">
            <div class="head">
                <div class="user">
                    <div class="profile-photo">
                        <img src="{{ profile.picture.url }}" />
                    </div>
                    <div class="ingo">

                        <h3>{{ user.username }}</h3>
                        {% if profile.name %}
                        <small>{{ profile.name }}</small>
                    </div>
                </div>
                <span class="edit">
                    {% if request.user == user %}

                    <a href="{% url 'profile-edit' profile.pk %}" class="btn btn-secondary"><i
                            class="far fa-edit"></i>Edit</a>

                    {% endif %}
                    {% endif %}
                    <i class="uil uil-ellipsis-h"></i>
                </span>
            </div>
            <div class="photo">
                {% if profile.location %}
                <p>{{ profile.location }}</p>
                {% endif %}

                {% if profile.birth_date %}
                <p>{{ profile.birth_date }}</p>
                {% endif %}

                {% if profile.bio %}
                <p>{{ profile.bio }}</p>
                {% endif %}
            </div>
            Followers : {{numbers_of_followers}}
            {% if user == request.user %}
            {% else %}
            {% if is_following %}
            <div class="action-button">
                <div class="interaction-buttons">
                    <form action="{% url 'remove-follower' profile.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Unfollow</Button>
                    </form>

                </div>
            </div>
            {% else %}
            <div class="action-button">
                <div class="interaction-buttons">
                    <form action="{% url 'add-follower' profile.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Follow</Button>
                    </form>

                </div>
            </div>
            {% endif %}
            {% endif %}




        </div>

    </div>
</div>

<div class="feeds">
    {% for project in projects %}

    <!-- ----------------FEEDS-1--------------------- -->
    <div class="feed">
        <div class="head">
            <div class="user">
                <div class="profile-photo">
                    <img src="image/profile 3.jpg" alt="">
                </div>
                <div class="ingo">
                    <h3>{{project.author}}</h3>
                    <small>{{project.created_on}}</small>
                </div>
            </div>
            <span class="edit">
                <i class="uil uil-ellipsis-h"></i>
            </span>
        </div>
        <div class="photo">
            <img src="new image/photo1.jpg">
        </div>
        <div class="projectName">{{project.project_name}}</div>
        <div class="projectDescription">{{project.project_description}}</div>
        <div class="institute">{{project.institute}}</div>
        <div class="university">{{project.university}}</div>
        <div class="action-button">
            <div class="interaction-buttons">
                <span><i class=" uil uil-heart"></i></span>
                <span><i class="uil uil-comment-alt-dots"></i></span>
                <span><i class="uil uil-share"></i></span>
            </div>
            <div class="bookmark">
                <span><i class="uil uil-bookmark"></i></span>
            </div>
        </div>
        <div class="liked-by">
            <span><img src="image/story1.jpg"></span>
            <span><img src="image/story2.jpg"></span>
            <span><img src="image/story3.jpg"></span>
            <p>Liked by <b>Advika...</b>and <b>2473 others</b></p>
        </div>

        <a href="{% url 'project-detail' project.pk %}" class="btn btn-primar">View project</a>
    </div>
    {% endfor %}

    <!-- ----------------FEEDS-1 End --------------------- -->
</div>


{% endblock content %}