{% extends "base.html" %}
{% block content %}


<div class="feeds">
    <div class="feed">
        
        <h5>Are You Sure?</h5>
            <p>You are about to delete this project, this cannot be undone.</p>
        <form method="POST">
            {% csrf_token %}
            <div >
                <a href="{% url 'project-detail' project.pk %}" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>
        </form>
          
    </div>

</div>

    
    
{% endblock content %}