{% extends "base.html" %}
{% block content %}
<style>
    .projectName, .institute, .university{
        text-transform: uppercase;
        font-weight: 500;
    }
</style>

    <a href="{% url 'project-list' %}" class="btn btn-primar">back</a>

<div class="feeds">
    <div class="feed">
        <div class="head">
            <div class="user">
                <div class="profile-photo">
                    <img src="{{ project.author.profile.picture.url }}">
                </div>
                <div class="ingo">
                    <h3><a href="{% url 'profile' project.author.profile.pk %}">{{project.author}}</a></h3>
                    <small>{{project.created_on}}</small>
                </div>
            </div>
            <span class="edit">
                {% if request.user == project.author %}
                    <a href= "{% url 'project-edit' project.pk %}" class="btn btn-secondary"><i class=""></i>Edit</a>
                    <a href= "{% url 'project-delete' project.pk %}" class="btn btn-danger"><i class=""></i>Delete</a>

                {% endif %}
                <i class="uil uil-ellipsis-h"></i>
            </span>
        </div>
        <div class="photo">
            <img src="new image/photo1.jpg">
        </div>
        <div class="projectName"><p>Project Name : {{project.project_name}}</p></div>
        <div class="projectDescription"><p>{{project.project_description}}</p></div>
        <div class="institute"><p>Institute : {{project.institute}}</p></div>
        <div class="university"><p>University : {{project.university}}</p></div>
        <a href="{{project.project_url}}" class="btn btn-primar">Visit project code</a>
        <div class="action-button">
            <div class="interaction-buttons">
                <a href="{% url 'add-like' project.pk %}"><span><i class="uil uil-heart"></i> {{ project.likes.count }}</span></a>
                    <a href="#create-post"><span><i
                                class="uil uil-comment-alt-dots"></i></span></a>
            </div>
            <div class="bookmark">
                <span><i class="uil uil-bookmark"></i></span>
            </div>
        </div>
    </div>

</div>
<h3>Comments</h3>
<form class="create-post" method="post">
    {% csrf_token %}
    <div class="profile-photo">
        <img src="{{ request.user.profile.picture.url }}" />
    </div>
    {{ form.as_p }}
    <button type="submit" class="btn btn-primar">Comment</button>
</form>
<div class="feeds">
    {% for comment in comments %}
    <div class="feed">
        <div class="head">
            <div class="user">
                <div class="profile-photo">
                    <img src="image/profile 3.jpg" alt="">
                </div>
                <div class="ingo">
                    <h3>{{comment.author}}</h3>
                    <small>{{comment.created_on}}</small>
                </div>
            </div>
            <span class="edit">
                {% if request.user == comment.author %}
                    {% comment %} <a href= "{% url 'project-edit' comment.project.pk %}" class="btn btn-secondary"><i class=""></i>Edit</a> {% endcomment %}
                    <a href= "{% url 'comment-delete' comment.pk %}" class="btn btn-danger"><i class=""></i>Delete</a>

                {% endif %}
                <i class="uil uil-ellipsis-h"></i>
            </span>
        </div>
        <div>{{comment.comment}}</div>

    </div>
    {% endfor %}
</div>
    
    
{% endblock content %}