{% extends "base.html" %}
{% block content %}

<style>
    input[type=text],
    [type=url] {
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 50px;
        box-sizing: border-box;
    }

    textarea {
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 50px;
        box-sizing: border-box;
        scrollbar-width: 0;
        
    }
</style>

<form method="post" class="create-post" style="display: flex; flex-direction: column; ">
    {% csrf_token %}
    {{ form.as_p }}
    {% comment %} <a href="{% url 'project-detail' project.pk %}" class="btn btn-secondary">Cancel</a> {% endcomment %}
    <button type="submit" class="btn btn-success">Save Changes</button>
</form>







{% endblock content %}