{% extends "base.html" %}
{% block content %}

<!-- ----------------MIDDLE--------------------- -->
<div class="middle">

    <h2>Search results : </h2>
    <!-- ----------------FEEDS--------------------- -->
    <div class="feeds">
        {% for project in projects %}
        <!-- ----------------FEEDS-1--------------------- -->
        <div class="feed">
            <div class="head">
                <div class="user">
                    <div class="profile-photo">
                        <img src="{{ profile.picture.url }}" />
                    </div>
                    <div class="ingo">
                        {% comment %} <h3><a href="{% url 'profile' project.author.profile.pk %}">{{project.author}}</a>
                        </h3> {% endcomment %}
                        <small>{{project.created_on}}</small>
                    </div>
                </div>
                <span class="edit">
                    <i class="uil uil-ellipsis-h"></i>
                </span>
            </div>
            <div class="photo">
                <img src="new image/photo1.jpg">
            </div>
            <div class="projectName">{{project.project_name}}</div>
            <div class="projectDescription">{{project.project_description| truncatechars:200}}</div>
            <div class="institute">{{project.institute}}</div>
            <div class="university">{{project.university}}</div>

            <a href="{% url 'project-detail' project.pk %}" class="btn btn-primar">View project</a>
        </div>
        {% endfor %}

        <!-- ----------------FEEDS-1 End --------------------- -->
    </div>
</div>

{% endblock content %}